################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutomatedTests/obj/Debug
/CheckOut/obj/Debug
/packages
